@model TranMinhTan_BTTuan07.Models.MB_Truong_PhanHe

@{
    ViewBag.Title = "ThemTruongPhanHe";
}

@using (Html.BeginForm("XuLyThemTruongPhanHe", "Truong", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style=" box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;">
        <table class="table table-striped">
            <tr>
                <td style="font-weight: 700;">
                    Phân Hệ
                </td>
                <td>
                    @Html.DropDownList("IdPhanHe", null, new { @class = "form-control" }) 
                </td>
            </tr>
            <tr>
                <td style="font-weight: 700;">
                    Ghi Chú
                </td>
                <td>
                    @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.GhiChu)
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" id="submit1" value="Lưu" class="btn btn-danger " />
                </td>
            </tr>
        </table>
    </div>
}

